body {
background:#000;
font-family: 'Noto Sans', sans-serif;
color:#fff;
}
html, body, .wrapper {
width:100%;
height:100%;
padding:0;
margin:0;
}
header {
font-size:32px;
padding:10px;
}
#podCastScroll {
width:0px;
height:500px;
}

.podcastItem {
width:400px;
margin:25px;
float:left;
}
.podcastItem img {
width:400px;
}
.title {
width: 100%;
font-size: 20px;
}

    .title a {
    color:#fff;
    text-decoration:none;
    }
